@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
}
body{
    text-align: center;
    margin: auto;
    background-color: #1d1c1c;
    color: #fff;
}
a,ul{
    text-decoration: none;
    color: #fff;
    list-style-type:none;
}
.title-font{
    font-family:Arial;
    margin: 1.25rem;
    padding: 1.25rem;
}
.font-types{
    font-size: 0.95rem;
    padding: 2rem;
}
.font-type{
    text-decoration: underline;
    padding: 2rem;
    font-size: 1.55rem;
}
.underline{
    text-decoration: underline;
    font-family: 'Ubuntu Mono';
    padding: 1.25rem;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    
    
}

img{
    padding: 30px;
}


p{  margin: 10px;
    font-family: Bitter;
    justify-content: center;
    text-align: ;
    padding: 40px;
    line-height: 25px;

}


.text1 {
    font-family: Dosis;
    text-transform: uppercase;
    background-color: #CD6155;
    height: 30px;
    text-align: center ;
    color: #fff;
    padding-top: 7px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: bolder;
}
